/*--- GOOGLE FONTS ---*/
/* Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');
/* Play Fair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,300;0,900;1,300;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 0 0 10px;
    /* padding: 50px 20px; */
}


/*--- ROOT ---*/
:root {

    /* Theme Colors */
    --white: #ffffff;
    --navy: #474e93;
    --purple: #7E5CAD;
    --teal: #72BAA9;
    --sage: #D5E7B5;
    --lightblue: #dde4ff;

    --green: #347928;
    --mint: #C0EBA6;
    --white2: #FFFBE6;
    --yellow: #FCCD2A;

    /* Fonts  */
    --Dancing: "Dancing Script", serif;
    --Playfair: "Playfair", serif;
    --Roboto: "Roboto", serif;
    --Opensans: "Open Sans", serif;
}

/*--- HEADER ---*/
/* Navbar */
.nav {
    background-color: var(--navy);
    padding: 0 2rem;
    /*1rem = 16px*/
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* Logo */
.nav .nav-menu .nav-brand a {
    color: var(--teal);
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Dancing);
    font-weight: bolder;
}

.nav .nav-menu {
    justify-content: space-between;
    /* flexible-row */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Menu List */
.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-links {
    padding: 1.6rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Roboto);
}

.nav .nav-items .nav-links a {
    color: var(--white);
}

/* Toggle / Hamburger */
.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
}

.nav .nav-items .nav-links:hover {
    background-color: var(--purple);
}

.collapse {
    height: 30rem;
}


/* Breakpoint Responsive Navbar */
@media screen and (max-width:768px) {

    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}


/* Banner */
.banner {
    background-image: url(../assets/images/bromo.jpg);
    background-color: rgba(0, 0, 0, 0.24);
    margin: 0 auto;
    height: 75vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.banner h1 {
    padding: 10px 0px;
    font-family: var(--Dancing);
    font-size: 2.5em;
    /* color: --; */
}

.banner p {
    font-family: var(--Roboto);
    padding: 16px 0;
    font-size: 1.1em;
}

.banner .btn-banner {
    margin: 1.8em;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Roboto);
    cursor: pointer;
    background: var(--navy);
    color: var(--white);
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.banner .btn-banner:hover {
    background-color: transparent;
    border: 1px solid var(--navy);
    color: var(--white);
    transform: scale(1.05);
}


/* Responsive Breapoint for Banner */
@media screen and (max-width:768px) {
    .banner {
        height: 80vh;
    }

    .banner h1 {
        font-size: 1.7rem;
        text-align: center;
    }

    .banner p {
        font-size: 0.9rem;
        text-align: center;
    }

    .banner .btn-banner {
        padding: 0.7rem 2rem;
    }

}

/*--- MAIN CONTENT ---*/

/* Section Heading */
.section-heading {
    font-family: var(--Roboto);
    color: var(--teal);
    border-left: 3px solid var(--purple);
    border-right: 3px solid var(--purple);
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 10px;
    margin: 30px 4px;
}

.section-heading:hover {
    padding: 4px 48px;
    background-color: var(--navy);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hiddergr
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;

}

/*-- Blog Section --*/

.blog-wrapper {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.blog-wrapper .main-content {
    flex: 3;
}

/*-- Aside / Sidebar --*/
.sidebar {
    flex: 1;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #000;
    height: auto;
}

.sidebar h3 {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    padding-bottom: 10px;
}

.sidebar .popular-articles {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar .popular-articles .article {
    display: flex;
    align-items: start;
    gap: 10px;

}

.sidebar .popular-articles .article img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.sidebar .popular-articles .article .article-text {
    flex: 1;
    margin-left: 5px;
}

.sidebar .popular-articles .article .article-text a {
    color: inherit;
    text-decoration: none;
}

.sidebar .popular-articles .article a:hover ,
.sidebar .popular-articles .article img:hover 
{
    border: 1px solid var(--teal); 
    /* color: var(--teal); */
    color: var(--purple);
    cursor: pointer;
}

.sidebar .popular-articles .article .article-text p {
    font-size: .9rem;
    color: #888;
}



/* Blog - Content */

.blog-wrapper .card {
    background: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: calc(33.333% - 16px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    
}

.blog-wrapper .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.blog-wrapper .card img:hover {
    transform: scale(1.05);
}

.blog-wrapper .card-body {
    padding: 10px 10px;
}

.blog-wrapper .card-title {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;

    overflow: hidden;
    text-overflow: ellipsis;

    /* Required for line clamping */
    -webkit-box-orient: vertical;
    /* Set the orientation to vertical */
    -webkit-line-clamp: 2;
    /* Display exactly 2 lines of text */
    line-clamp: 2;
    
}

.blog-wrapper .card-title:hover {
    /* color: var(--teal); */
    color: var(--purple);
}

.blog-wrapper .card-text {
    font-size: 0.5rem;
    margin-bottom: 15px;
    color: #666;
}

.blog-wrapper .card .card-body .date {
    font-size: .9rem;
    color: #888;
    padding: 5px 0;
    margin: -5px 0 5px;
}

.blog-wrapper .btn-link {
    display: inline-block;
    /* color: #5a67d8; */
    color: white;
    background-color: var(--teal);
    /* background-color: var(--navy); */
    text-decoration: none;
    font-size: 0.9rem;
    margin-top: 1px;
    padding: 4px 5px;
    border-radius: 8px;
}

.blog-wrapper .btn-link:hover {
    /* text-decoration: underline; */
    transform: translateY(-3px);
}

.card .card-body .btn-link i {
    padding: 2px 4px;
    margin: 0 3px;
    /* background: var(--purple); */
    border-radius: 50%;
    font-size: 12px;
}


.blog-wrapper .card:hover {
    cursor: pointer;
    /* transform: translateY(-2px);  */
}

.card .card-body .btn-link i {
    /* transform: rotate(-45deg); */
}

/*--- UPCOMING EVENT ---*/
.event-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.event-wrapper .recent-event .event-image img {
    width: 100%;
    height: 240px;
}

.event-wrapper .recent-event:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.event-wrapper .recent-event .event-image { 
    margin-bottom: -6px;
    /* position: relative; */
}

.event-wrapper .recent-event .event-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.event-wrapper .recent-event { 
    position: relative;
}

.event-wrapper .recent-event .event-info h3 {
    color: var(--white2);
}

.event-wrapper .recent-event .event-info {
    position: absolute;
    bottom: 4%;
    left: 10px;
    color: var(--white);
    z-index: 2;
    font-family: var(--Playfair);
}

.event-wrapper .recent-event .event-info .date {
    color: #ddd;
}

.event-wrapper .btn-link {
    text-decoration: none;
    /* color: inherit; */
    color: var(--teal);

    
}

.event-wrapper .btn-link:hover {
    text-decoration: underline;
    color: #ddd;
}

.event-wrapper .card .card-body p span i {
    /* transform: rotate(-45deg); */
}


/*--- DESTINATION ---*/

.destination-container {
    font-family: var(--Opensans);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    min-height: 60vh;
    margin: 0 auto;
    position: relative;
  }
  
  section#destination .section-title {
    margin-bottom: 7px;
  }
  
  /* Destination Wrapper */
  .destination-container .destination-wrapper {
    width: 100%;
    position: relative; /*! Required to position buttons */
  }
  
  /* Swiper Container */
  .destination-container .swiper {
    width: 100%;
    padding: 20px 0; /*! Add space for navigation buttons */
  }
  
  /* Swiper Slide */
  .destination-container .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .destination-container .card-link {
    position: relative;
    width: 240px;
    height: 350px;
    background: #fff;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-align: center;
  }
  
  .destination-container .card-image {
    width: 100%;
    /* height: calc(100% - 50px); */
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .destination-container .card-link .badge {
    position: absolute;
    bottom: 10px; /* Default position */
    left: 10px;
    background: var(--lightblue);
    color: var(--navy);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .destination-container .card-link .read-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    /* background: #5372f0; */
    color: white;
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid var(--navy);
    display: none;
    opacity: 0;
  }
  
  .destination-container .card-link:hover .read-more {
    display: block;
    opacity: 1;
    color: var(--white);
    background: var(--purple);
    cursor: pointer;
  }
  
  /* Navigation Buttons */
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .swiper-button-prev {
    left: -40px;
  }
  
  .swiper-button-next {
    right: -40px;
  }
  
  /* Pagination */
  .swiper-pagination {
    position: relative; /* Keeps it positioned within the Swiper container */
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  /* Style Swiper Pagination Bullets */
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #5372f0;
    opacity: 0.5;
    margin: 0 5px;
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
  }

  /* Responsive Breakthough Destination */
@media screen and (max-width: 992px) 
{   
    /* Badge */
    .destination-container .card-link .badge {
        top: 10px;
        left: 10px;
        bottom: auto; /* Reset bottom */
        font-size: 12px; 
    }
    
    .swiper-button-prev {
        left: 1px;
    }

    .swiper-button-next {
        right: 1px;
    }

}

@media screen and (max-width: 768px) {
    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: none;
    }
}

