/*--- Import Google Fonts ---*/

/* Dancing Sript */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,300;1,400;1,800&display=swap');
/* Play Fair */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,300;0,900;1,300;1,900&display=swap');
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Theme Color */
    --white: #ffffff;
    --navy: #474e93;
    --purple: #7E5CAD;
    --teal: #72BAA9;
    --sage: #D5E7B5;
    --lightblue: #dde4ff;

    --green: #347928;
    --mint: #C0EBA6;
    --white2: #FFFBE6;
    --yellow: #FCCD2A;

    --Dancing: "Dancing Script", serif;
    --Playfair: "Playfair", serif;
    --Roboto: "Roboto", serif;
    --Opensans: "Open Sans", serif;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/*--- NAVBAR ---*/
.nav {
    background-color: var(--navy);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    width: 100%;
    position: fixed;
    z-index: 100;

}

/* Logo */
.nav .nav-menu .nav-brand a {

    color: var(--teal);
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Dancing);
    font-weight: bolder;
}

.nav .nav-menu {
    justify-content: space-between;
}

/* Menu list */
.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-links {
    padding: 1.6rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Roboto);

}

.nav .nav-items .nav-links a {
    color: var(--white);
}

/* Toggle */
.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
}

.nav .nav-items .nav-links:hover {
    background-color: var(--purple);
}

.collapse {
    height: 30rem;
}

/* move nav menu to the corner  */
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Responsive Breakpoint for Navbar */
@media screen and (max-width:768px) {

    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}

/*--- End of Navbar ---*/



/*--- BANNER ---*/
.banner {
    /* max-width: 1200px; */
    margin: 0 auto;
    background-image: url(../assets/images/bromo.jpg);
    background-color: rgba(0, 0, 0, 0.24);
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    color: var(--white);
    flex-wrap: wrap;
}

.banner h1 {
    padding: 16px;
    font-family: var(--Roboto);
    font-size: 2em;
    text-align: center;
    /* color: --; */
}

.banner p {
    font-family: var(--Roboto);
    padding: 16px;
    text-align: center;
    font-size: 1.1em;
}

.banner .btn-banner {
    margin: 1.8em;
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Roboto);
    cursor: pointer;
    background: var(--navy);
    color: var(--white);
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.banner .btn-banner:hover {
    background: transparent;
    border: 1px solid var(--navy);
    color: var(--white);
    transform: scale(1.05); /* Efek zoom */
}

/* Responsive Breapoint for Banner */
@media screen and (min-width: 1400px) {
    .banner h1 {
        font-size: 3rem;
    }

    .banner p {
        font-size: 1.3rem;
    }

    .banner .btn-banner {
        padding: 1.5rem 5rem;
        font-size: 1.3rem;
    }
}


@media screen and (min-width: 1200px) {
    .banner h1 {
        font-size: 2.5rem;
    }

    .banner p {
        font-size: 1.2rem;
    }

    .banner .btn-banner {
        padding: 1.2rem 4rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        height: 60vh;
        padding: 40px 15px;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .banner p {
        font-size: 0.9rem;
    }

    .banner .btn-banner {
        padding: 0.7rem 2rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .banner {
        height: 50vh;
        padding: 20px 10px;
    }

    .banner h1 {
        font-size: 1.2rem;
        padding: 50px 0 0;
    }

    .banner p {
        font-size: 0.8rem;
    }

    .banner .btn-banner {
        padding: 0.6rem 1.5rem;
        font-size: 0.7rem;
    }
}





/*--- MAIN CONTENT ---*/

/* content heading */
.content-heading {
    font-family: var(--Roboto);
    color: var(--teal);
    border-left: 3px solid var(--purple);
    border-right: 3px solid var(--purple);
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 10px;
    margin: 24px 36px;
}

.content-heading:hover {
    padding: 4px 48px;
    background-color: var(--navy);
}

/*--- BLOG CONTAINER ---*/
.blog-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    /* margin: 0 auto; */
    margin-bottom: 50px; /* Add margin-bottom to create space below */
    padding-bottom: 50px; /* Add padding-bottom to prevent collapse */
       
}

.blog-container::after {
    content: "";
    display: block;
    clear: both;
}

/* Ensure clear on all other containers */
.event-container, .destination-container, .gallery-container {
    clear: both;
}


.blog-container .blog-wrapper {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 0 30px;
    margin-bottom: 100px;
    /* margin-bottom: 30px; */
}

.blog-wrapper .post {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex: 3;
    height: 250px;
}

.blog-container .post .recent-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px; /* Space between multiple posts */

    flex: 1 1 auto calc(33.33% - 16px);
    max-width: calc(33.33% - 16px);
    background: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /* overflow: hidden; */

    

}

/* .blog-container::after {
    content: "";
    display: block;
    clear: both;
} */

.blog-wrapper .post .recent-post .post-info {
    padding: 10px;
}

.blog-wrapper .post .recent-post .date {
    padding: 0 10px;
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 5px;
}

.blog-wrapper .post .recent-post:hover {
    cursor: pointer;
    border-color: var(--purple);
}

.blog-wrapper .post .recent-post .post-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.blog-wrapper .post .recent-post .post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-wrapper .post .recent-post .post-desc {
    padding: 0 0 10px;
    font-size: .9rem;
    color: #555;
    line-height: 1.4;
    height: 7.5rem;
    /* height: 5.5rem; */
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-wrapper .post .recent-post .date {
    padding-top: 10px;
}

.blog-wrapper .post .recent-post .post-title h4 {

    /* padding: 0 10px;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */

    padding: 0 10px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* Required for line clamping */
    -webkit-box-orient: vertical;
    /* Set the orientation to vertical */
    -webkit-line-clamp: 2;
    /* Display exactly 2 lines of text */
    line-clamp: 2;
    /* Modern browsers */
}

.blog-wrapper .post .recent-post .read-more p {
    padding: 10px 10px 0;
    /* padding:5px 10px 0; */
}

.blog-wrapper .post .recent-post .read-more p span {
    padding: 2px 4px;
    margin: 0 3px;
    color: #fff;
    background: var(--purple);
    border-radius: 50%;
    font-size: 12px;
}

.blog-wrapper .post .recent-post .read-more p span i {
    transform: rotate(-45deg);
}

/* Aside / Sidebar */
.blog-wrapper .sidebar {
    flex: 1;
    border: 1px solid #ddd;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

.blog-wrapper .sidebar .sidebar-title {
    text-align: center;
    margin-bottom: 15px;
    border-bottom: 2px solid#ddd;
    padding-bottom: 10px;
}

.blog-wrapper .sidebar .popular-article {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.blog-wrapper .sidebar .popular-article img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 4px;
    /* margin: 0; */
}

.blog-wrapper .sidebar .popular-article .popular-item {
    display: flex;
    align-items: start;
    gap: 10px;
}

.blog-wrapper .sidebar .popular-article .article-text {
    flex: 1;
    margin-left: 10px;
}

.blog-wrapper .sidebar .popular-article .article-text p {
    font-size: .9rem;
    color: #888;
    margin: 8px 0;

}

.blog-wrapper .sidebar .popular-article .article-text h5:hover {
    color: var(--purple);
    cursor: pointer;
}

.blog-wrapper .sidebar .popular-article img:hover {
    border: 1px solid var(--purple);
    cursor: pointer;
}

/* Responsive Breakpoint for Blog */
@media screen and (max-width: 1200px) {
    .blog-container {
        padding: 0 15px;
    }
}


@media screen and (max-width: 968px) {
    .blog-wrapper .post .recent-post {
        width: 100%;
        flex: 1 1 (50% - 16px);
        max-width: calc(50% - 16px);
    }

    .blog-wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .blog-wrapper .post .recent-post {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* Ensure clear on all other containers */
.event-container, .destination-container, .gallery-container {
    clear: both;
}

/*--- UPCOMING EVENT  ---*/
.event-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px; /* Ensure a margin-top to prevent overlap with blog-container */
    padding: 20px 0;
    box-sizing: border-box;
}

.event-wrapper {
    width: 100%;
    display: flex;
    gap: 26px;
    padding: 0px 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.event-wrapper .recent-event {
    background: var(--white);
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid #ddd; */
    width: 417px;
    gap: 25px;
    overflow: hidden;
    position: relative;
    transform: 0.3s ease;
}

.event-wrapper .recent-event:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.event-wrapper .recent-event .event-image {
    position: relative;
    margin-bottom: -6px;
}

.event-wrapper .recent-event .event-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.event-wrapper .recent-event .event-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    cursor: pointer;
    /* position: relative;
    margin-bottom: -6px; */
}

.event-wrapper .recent-event .event-info {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    color: white;
    z-index: 2;
    /* padding: 15px; */
}

.event-wrapper .recent-event .event-info .date {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
}

.event-wrapper .recent-event .event-info h3 {
    font-size: 18px;
    margin: 0 0 10px;
    color:#A75CAD;
}

.event-wrapper .recent-event .event-info .read-more:hover {
    /* text-decoration: underline  ; */
    color: var(--teal);
    cursor: pointer;
}

.event-wrapper .recent-event .event-info .read-more p span i {
    transform: rotate(-45deg);
    font-size: 10px;
    background-color: black;
    border-radius: 100%;
    padding: 1px 2px;
}

/* Responsive Breakpoint for Event */
@media screen and (max-width:1200px) {
    .event-wrapper .recent-event {
        flex: 1 1 30%;
        max-width: 50%;
        height: 250px;
        object-fit: cover;
    }
}

@media screen and (max-width:968px) {
    .event-wrapper .recent-event {
        flex: 1 1 100%;
        max-width: 70%;
        height: 250px;
    }
}

@media screen and (max-width:678px) {
    .event-wrapper .recent-event {
        flex: 1 1 100%;
        max-width: 100%;
        height: 250px;
        object-fit: cover;
    }
}


/*--- DESTINATION CONTAINER ---*/
.destination-container {
    font-family: var(--Opensans);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    min-height: 60vh;
    margin: 0 auto;
    position: relative;
}

h2.destination {
    margin: 24px 36px 6px;
}

/* Destination Wrapper */
.destination-container .destination-wrapper {
    width: 100%;
    position: relative; /*! Required to position buttons */
}

/* Swiper Container */
.destination-container .swiper {
    width: 100%;
    padding: 20px 0; /*! Add space for navigation buttons */
}

/* Swiper Slide */
.destination-container .swiper-slide {
    display: flex;
    justify-content: center;
}

.destination-container .card-link {
    position: relative;
    width: 240px;
    height: 350px;
    background: #fff;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-align: center;

}

.destination-container .card-image {
    width: 100%;
    /* height: calc(100% - 50px); */
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.destination-container .card-link .badge {
    position: absolute;
    bottom: 10px; /* Default position */
    left: 10px;
    background: var(--lightblue);
    color: var(--navy);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}


.destination-container .card-link .read-more {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    /* background: #5372f0; */
    color: white;
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid var(--navy);
    display: none;
    opacity: 0;
}

.destination-container .card-link:hover .read-more {
    display: block;
    opacity: 1;
    color: var(--white);
    background: var(--purple);
    cursor: pointer;
}

/* Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.swiper-button-prev {
    left: -40px;
}

.swiper-button-next {
    right: -40px; 
}

/* Pagination */
.swiper-pagination {
    position: relative; /* Keeps it positioned within the Swiper container */
    margin-top: 20px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: center;
}


/* Style Swiper Pagination Bullets */
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #5372f0;
    opacity: 0.5;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

/* Responsive Breakthough Destination */
@media screen and (max-width: 992px) 
{   
    /* Badge */
    .destination-container .card-link .badge {
        top: 10px;
        left: 10px;
        bottom: auto; /* Reset bottom */
        font-size: 12px; 
    }
    
    .swiper-button-prev {
        left: 1px;
    }

    .swiper-button-next {
        right: 1px;
    }

}

@media screen and (max-width: 768px) {
    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: none;
    }
}

@media screen and (max-width: 768px) { 
    .swiper-button-prev,
    .swiper-button-next {
        background: none;
    }
}




/*--- GALLERY CONTAINER ---*/
.gallery-container {
    display: flex;
    flex-direction: column;
}

.gallery-container .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    gap: 10px;
    /* max-width: calc(210px * 5 + 16px * 4 + 40px); */
    margin: 10px 50px;
    padding: 0 48px 48px;
    box-sizing: border-box;

}

.gallery-container .gallery-wrapper .gallery-item {
    flex: 1 1 250px; /* flex: 0 1 calc(20% - 16px); */
    /* max-width: 250px;  */
    max-width: calc(20% - 16px);
    width: 100px;
    height: 150px;
    /* position: relative;*/
    /* padding: 8px; */
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    object-fit: cover;
    
}

.gallery-container .gallery-wrapper .gallery-item:hover {
    transform: scale(1.05);
}

.gallery-container .gallery-wrapper .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 8px; */
}

/* Modal Popup */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-overlay .modal-content {
    display: flex;
    gap: 20px;
    background: white;
    padding: 20px 20px 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    text-align: center;
    position: relative;
}

.modal-overlay .modal-content img {
    width: 600px;
    /* max-width: 90%; */
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.modal-overlay .modal-content .modal-description {
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-top: 10px;
}

.modal-overlay .modal-content .close-modal {
    position: absolute;
    top: 4px;
    right: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.modal-overlay .modal-content .close-modal:hover {
    color: red;
}

/* Responsive Breakpoint for Gallery */
@media screen and (max-width: 992px) {
    .gallery-container .gallery-wrapper .gallery-item {
        flex: 0 1 calc(30% - 16px);
        max-width: calc(30% - 16px);
    }
}

@media screen and (max-width: 769px) {
    .gallery-container .gallery-wrapper .gallery-item {
        flex: 0 1 calc(50% - 16px);
        max-width: calc(50% - 16px);
    }
}

@media screen and (max-width: 468px) {
    .gallery-container .gallery-wrapper .gallery-item {
        flex: 0 1 calc(100% - 16px);
        max-width: calc(100% - 16px);
    }
}

/*--- FOOTER ---*/
footer {
    background-color: var(--navy);
    color: var(--white);
    padding: 30px 20px 10px;
}

footer .footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

footer .footer-column {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

footer .footer-column h3 {
    margin-bottom: 13px;
}

footer .footer-column p {
    line-height: 1.6;
    margin-bottom: 20px;
}

footer .footer-subscribe .subscribe {
    display: flex;
    /* align-items: center; */
}

footer .footer-subscribe input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
}

footer .subscribe button {
    padding: 8px 15px;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

footer .subscribe button:hover {
    background-color: #A75CAD;
}

footer .footer-social .social-icons {
    display: flex;
    gap: 10px;
}

footer .footer-social .social-icons a {
    font-size: 20px;
    margin: 10px;
    transition: color 0.3s ease;
    color: var(--white);
}

footer .footer-social .social-icons a:hover {
    color: var(--purple);
}

footer .copyright {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0 0;
    font-size: 14px;
    border-block-start: 1px solid #ddd;
}